<!--- About page --->

<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by Andrew Carlisle, following a curriculum by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Andrew is an aspiring web developer and committed to gaining the skills he needs to enter the web development world.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me_edited.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Andrew Carlisle</h2>
      <br />
      <p>
        Andrew Carlisle is trying really hard to be a web developer. He may not have a lot of industry experience or startups to talk up in this description, but he does possess a love coding and problem solving in general and is committed to gaining the skills necessary to land a great starting job in the industry! In an earlier life, he delivered pizza, fixed printers and received his associates degree in systems administration. Also he was Attila the Hun.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>